#task-form {
  padding: 30px;
  position: relative;

  a#task-form-closer {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 3em;

    &, &:hover, &:visited, &:active {
      color: #e74c3c;
      text-decoration: none;
    }
  }
}