#task-form {
  padding: 30px;
  position: relative;

  a#task-form-closer {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 3em;

    &, &:hover, &:visited, &:active {
      color: #e74c3c;
      text-decoration: none;
    }
  }
}

#tasks-container {
  padding: 60px 0;

  #tasks {
    .task {
      background-color: transparent;
      transition: background-color 0.3s ease-in;

      .drag-handle {
        color: #ADB2B7;
        font-size: 1.2em;
        cursor: move;
      }

      h4 {
        padding-left: 1.5em;
      }

      p {
        padding-left: 2em;
      }

      &:hover {
        background-color: #ecf0f1;
      }

      a.delete {
        display: none;

        &, &:hover, &:visited, &:active {
          color: #e74c3c;
          text-decoration: none;
        }
      }

      &:hover {
        a.delete {
          display: inline-block;
        }
      }
    }

    .sortable-placeholder {
      height: 60px;
      background-color: red;
    }
  }
}